body::-webkit-scrollbar {
  display: none;
}
.sbox{
  position: relative;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
}
.shead{
  position: absolute;
  top: -4%;
  left:28%;
  border: 2px solid black;
  width: 40%;
  text-align:center;
  background-color: white;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: larger;
  font-weight: bold;
}
.lbtn,.sbtn{
  cursor: pointer;
}

.searchItem{
  position: absolute;
  top: 80%;
  left: 28%;
  z-index: 1;
  width: 40%;
}
.cardImage{
  height: 12rem;
}

@media (max-width: 576px) {
  .sbox {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .sbox {
    width: 80%;
    padding: 1rem;
  }

  .shead {
    font-size: 1.25rem;
  }

  .btn {
    font-size: 0.875rem;
  }
}